.main{
    text-align: center;
    width: 100%;
    background: #333;
}
.container{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.media{
    display: flex;
    flex-direction: column;
}
.title{
    color: rgb(37,100,253);
}

@media (max-width: 375px) {
    .main{
        padding: 10px;
    }
    .container{
        flex-direction:column;
    }
    .media{
        margin-right: 15px;
        flex-direction: column;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}